@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
  box-sizing: border-box;
}
.stories-section {
  width: 30vw;
  height: auto;
  background: #f5f7fa;
  margin: 30px;
  margin-top: 20px;
}

.latest-stories {
  padding: 0px 20px;
}

.stories-section h1 {
  color: white;
  padding-left: 20px;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
}

.stories-header-section {
  background-color: #78a4ad;
  height: 7vh;
  width: 30vw;
  padding-top: 20px;
  margin-bottom: 10px;
}

.story-item {
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

.story {
  margin-bottom: 5px;
}

a {
  color: #78a4ad;
  margin-bottom: 10px;
}
