.todo-section {
  width: 50vw;
  height: auto;
  background: #f9f9f9;
  margin: 30px;
}

.todo-section h1 {
  color: white;
  padding-left: 20px;
  color: #333;
}

.todo-header-section {
  width: 50vw;
  height: 10vh;
  padding-top: 10px;
}
