@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

* {
  box-sizing: border-box;
}

.todo-section {
  width: 50vw;
  height: auto;
  background: #f5f9fa;
  margin-top: 50px;
}

.todo-section h1 {
  color: #78a4ad;
  padding-left: 20px;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

.todo-header-section {
  height: 10vh;
  padding-top: 10px;
}

.input-container {
  background-color: #ffffff;
  border: none;
  height: 15px;
  width: 300px;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0px;
}

.input-item {
  height: 15px;
  width: 200px;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0px;
}

.todo-button {
  background-color: #bfbfbf;
}
