@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* {
  box-sizing: border-box;
}

.todo-section {
  width: 50vw;
  height: 50vh;
  background: #f5f9fa;
  margin-top: 20px;
  overflow-y: auto;
}

.todo-section h1 {
  color: #78a4ad;
  padding-left: 20px;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.input-container {
  background-color: #ffffff;
  border: none;
  height: 15px;
  width: 300px;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0px;
}

.todo-section-section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 40vw;
  height: 8vh;
}

.todo-button {
  background-color: #bed6de;
  border: none;
  font-family: 'Comfortaa', cursive;
  width: 100px;
  margin-right: 10px;
  font-size: 12px;
  align-items: center;
  height: 3vh;
}

.input-container {
  width: 300px;
  margin-left: 50px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  align-items: center;
  margin-bottom: 10px;
  height: 3vh;
  color: #333;
  padding-left: 10px;
}
