@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  background-image: url('http://i66.tinypic.com/k0lwu1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.App {
  margin: 100px;
  font-family: 'Comfortaa', cursive;
}

.content {
  padding: 20px;
}

.main-section {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  align-content: center;
}

.logo img {
  width: 140px;
  align-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-right: 50px;
}

.header {
  height: 10vh;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 30px;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
